html, body {font-family:Verdana,sans-serif;font-size: 15px;margin: 0px;line-height: 1.5;background-color: rgb(13, 17, 23);color: rgb(255, 255, 255);}
html {scroll-behavior: smooth;overflow-x:hidden}

h1,h2,h3,h4,h5,h6{font-family:'Montserrat', sans-serif;font-weight:400;}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

#home, #code, #contact, #projects, #about {padding: 10px 30px;}
a  {color: #21f3ad;text-decoration: none;}
a:hover{color:#3600b5;background-color: #21f3ad;}

ul {font-family:'Montserrat', sans-serif;font-weight:400;position: -webkit-sticky; /* Safari */position: sticky;top: 0;font-size: 17px;list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: rgb(22, 27, 34);width: 100%;}
li {float: left;}
li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
li a:hover:not(.active) {background-color: rgb(88, 99, 95);color:rgb(255, 255, 255);}
li .active {background-color: #2d7b61;color:rgb(255, 255, 255)}

div.gallery:hover {border: 0px solid rgb(22, 27, 34);-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */filter: grayscale(60%);}
div.gallery img {width: 100%;height: auto;}
div.desc {padding: 0 0 16px 0;text-align: center;}

.responsive {padding: 0 6px;float: left;width: 24.99999%;}

.cover {background-image: url("images/cover.jpg");background-attachment: fixed;background-size: 100% ;height: 160px;background-position-y: top;}
.ascii-art {font-family: monospace;white-space: pre;color: #fff;line-height: 1.1;font-size: 10px;padding: 14px 16px;}
.ascii-art:hover {color:#21f3ad;cursor: default;}

@media only screen and (max-width: 700px) {.responsive {width: 49.99999%;margin: 6px 0;}}
@media only screen and (max-width: 500px) {.responsive {width: 100%;}}
@media only screen and (max-width: 700px) {.ascrii-art {font-size: 80%;}}
@media only screen and (max-width: 500px) {.ascrii-art {font-size: 25%;}}

.clearfix:after {content: "";display: table;clear: both;padding: 14px 16px;}

.w3-circle{border-radius:50%}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.w3-container,.w3-panel{padding:0.1em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-blue{color:#000000!important;background-color:#21f3ad!important;font-size:8px;}
.w3-light-grey{color:#000!important;background-color:#3600b5!important}

.skills {column-count: 3;}

table {border-collapse: collapse;width: 100%;}
td, th {border: 0px solid #dddddd;text-align: left;padding: 8px;}
tr:nth-child(even) {color:#000;background-color: #21f3ad;}
